@use 'constants' as *;
@use 'functions' as *;

#chak-chak {
//:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

  --color-main-bg: #00818e;
  --color-secondary-bg: #ADF0FF;
  --color-accent: #E40514;
  --color-accent-2: #EE3282;
  --color-warm: #EA36CD;
  --color-cold: #5074D1;
  --color-white: #FFFFFF;

  //--color-marker: #FB5097;
  //--color-marker-active: #8F194A;
  --color-marker: #FB5097;
  --color-marker-active: #8F194A;

  --color-text: #474653;

  --font-family-base: 'Inter', sans-serif;
  --font-family-title: 'NauryzRedKeds', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
   )};

  --cotainer-padding-x: 32px;

  --cotainer-padding-x-base: #{fluid(72, 30)};

  --section-padding-y: #{fluid(80, 40)};

  --transition-duration: .2s;
  --transition-duration-longer: .5s;
}