.art {

  &__inner {
    margin-top: 62px;
    min-height: 232px;
  }
}

.art-carousel {
  &__slide {
    padding-inline: 35px;
    //text-align: center;
    //display: flex!important;
    //flex-direction: column;
    //align-items: center;

    @include laptop-sm {
      padding-inline: 15px;
    }

    @include mobile {
      text-align: center;
      display: flex!important;
      flex-direction: column;
      align-items: center;
    }

    &-img-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 204px;
      border-radius: 360px;
      overflow: hidden;
      flex-shrink: 0;

      @include laptop-sm {
        width: 250px;
        height: 170px;
      }
    }
    //&-img {
    //  width: 100%;
    //  object-fit: cover;
    //}
    &-info {
      //margin-top: 10px;
      padding-inline: 30px;
    }
    //&-title {
    //  font-weight: 700;
    //  font-size: 16px;
    //  color: #000;
    //}
    //&-txt {
    //  font-weight: 400;
    //  font-size: 12px;
    //  color: #555555;
    //  margin-top: 5px;
    //}
  }
}