.books {

  &__inner {
    //margin-top: 56px;
    margin-top: 44px;
  }

}

.book-carousel .slick-arrow {
  height: 100%;
}

.book-carousel__slide-inner {
  display: flex;
  justify-content: center;
  //padding-top: 18px;
  padding-top: 30px;
  //padding-bottom: 18px;

  @include mobile-s {
    padding-top: 0;
    //padding-bottom: 0;
  }
}