.guides {

  &__inner {
    margin-top: 32px;
    min-height: 414px;
  }
}

.guides-carousel {
  .slick-arrow {
    height: 100%;
  }

  &__slide {
    margin-inline: auto;
    display: inline-flex!important;
    justify-content: center;
    width: 100%;

    &-inner {
      background-color: var(--color-white);
      border-radius: 25px;
      padding: 10px 10px 20px 10px;
      width: 316px;

      @include mobile-xs {
        width: 90%;
      }
    }
    &-img-wrap {
      //@include square(295px);
      width: 100%;
      height: auto;
      border-radius: 20px;
      overflow: hidden;
    }
    &-img {
      //transition: all var(--transition-duration-longer) ease;
      //@include hover {
      //  transform: scale(1.05);
      //}
    }
    &-info {
      padding-inline: 16px;
    }
    &-title {}
    &-text {}
  }

}