.map-point {
    @include square(38px);
    &:hover {
        cursor: pointer;
        .map-point__inner {
            &:before {
                @include square(34px);
            }
        }
    }

    &--current {
        .map-point__inner,
        .map-point__inner:before {
            background-color: var(--color-marker-active);

        }
    }
}
.map-point__inner {
    position: absolute;
    background-color: var(--color-marker);
    @include square(22px);
    border-radius: 100%;
    transition: all var(--transition-duration) ease;
    @include abs-center;

    &:before {
        content: '';
        display: block;
        background-color: var(--color-marker);
        opacity: .3;
        @include square(38px);
        border-radius: 100%;
        position: absolute;
        @include abs-center;
        transition: all var(--transition-duration) ease;
    }
}