.map-point {
    @include square(38px);
    &:hover {
        cursor: pointer;
        .map-point__inner {
            &:before {
                @include square(34px);
            }
        }
    }

    &--current {
        .map-point__inner,
        .map-point__inner:before {
            background-color: var(--color-marker-active);

        }
    }
}
.map-point__inner {
    position: absolute;
    background-color: var(--color-marker);
    @include square(22px);
    border-radius: 100%;
    transition: all var(--transition-duration) ease;
    @include abs-center;

    @include flex-center;

    &:before {
        content: '';
        display: block;
        background-color: var(--color-marker);
        opacity: .3;
        @include square(38px);
        border-radius: 100%;
        position: absolute;
        @include abs-center;
        transition: all var(--transition-duration) ease;
    }
}
.map-point__counter {
    font-family: var(--font-family-base);
    font-size: 11px;
    font-weight: 700;
    color: var(--color-white);
}


/* Красный (без координат) */
.map-point--no-coords {
    .map-point__inner {
        background-color: var(--color-accent);
        &:before {
            background-color: inherit;
        }
    }

    &.map-point--current {
        .map-point__inner {
            background-color: #94020C;
            &:before {
                background-color: inherit;
            }
        }
    }
}

/* Зелёный (онлайн) */
.map-point--online {
    .map-point__inner {
        background-color: var(--color-cold);
        &:before {
            background-color: inherit;
        }
    }

    &.map-point--current {
        .map-point__inner {
            background-color: #1A3988;
            &:before {
                background-color: inherit;
            }
        }
    }
}