.media {
  @include tablet {
    display: flex;
    justify-content: center;
  }
  &__block {
    background-color: var(--color-white);
    border-radius: 22px;
    width: 834px;
    display: flex;
    justify-content: end;

    @include tablet {
      width: 84%;
    }
    @include mobile {
      width: 90%;
      flex-direction: column!important;
    }
    @include mobile-s {
      justify-content: start;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: var(--color-text);
    font-family: inherit;
    letter-spacing: normal;
    line-height: normal;
  }

  &__txt {
    font-size: 16px;
    line-height: 1.5;
  }

  &__txt-wrapper {
    padding: 64px 23px;
    margin-inline: 44px;
    max-width: 452px;

    @include tablet {
      padding-block: 40px;
    }

    @include mobile {
      margin-inline: 20px;
    }
  }

  &__img-wrapper {
    flex: 1;
    position: relative;
    @include laptop-sm {
      display: flex;
      align-items: center;
      width: 30%;
    }
    @include tablet {
      flex-basis: 30%;
      flex-shrink: 0;
      width: unset;
    }
    @include mobile {
      flex-basis: unset;
    }
    @include mobile-s {
      padding-top: 22px;
    }
  }

  &__img {
    position: absolute;
    top: -16px;
    right: 0;
    left: -180px;
    min-width: 474px;

    @include laptop-sm {
      min-width: 120%;
      position: relative;
    }

    @include mobile {
      min-width: unset!important;
      width: 80%;
      margin-inline: auto;
      transform: scaleX(1);
    }

    @include mobile-s {
      top: 0;
    }
  }
}

.media--main {
  padding-left: 120px;

  @include laptop {
    padding-left: 12vw;
  }
  @include laptop-sm {
    padding-left: 0;
  }

  .media {
    &__block {
      width: 952px;
      @include laptop {
        //width: 834px;
      }
      @include laptop-sm {
        width: 834px;
      }
      @include tablet {
        width: 98%;
      }
      @include mobile-s {
        width: 94%;
      }
    }
    &__img {
      min-width: 523px;
      top: -8px;

      @include laptop {
        min-width: 474px;
        left: -130px;
        top: -20px;
      }
      @include laptop-sm {
        min-width: 120%;
        margin-left: -40px;
        left: auto;
        right: auto;
        transform: scaleX(-1);
      }
      @include tablet {
        max-width: 93%;
        min-width: unset;
      }
      @include mobile {
        margin-inline: auto;
        transform: scaleX(1);
      }
      @include mobile-s {
        top: 0;
      }
    }

    &__img-wrapper {
      @include tablet {
        justify-content: end;
        margin-left: 0;
      }
    }
    &__txt-wrapper {
      overflow: hidden;
      padding: 34px 0 34px 6px;
      margin-right: 0;
      max-width: 530px;
      //max-height: 460px;
      max-height: 474px;

      @include laptop-sm {
        max-width: 452px;
        max-height: 500px;
      }
      @include tablet {
      }
      @include mobile {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 20px;
        margin-bottom: 30px;
        max-height: 340px;
      }
      @include mobile-s {
        margin-top: 38px;
      }

      ul {
        @include mobile-s {
          padding-left: 18px;
        }
      }
    }

    &__title {
      padding-right: 44px;
      @include laptop-sm {
        padding-right: 22px;
      }
      @include mobile-s {
        margin-bottom: 20px;
      }
    }
    &__txt {
      @include mobile-s {
        font-size: 14px;
      }
    }
  }

  div.media__txt {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 44px;

    @include laptop-sm {
      padding-right: 22px;
    }
  }
}
.media--secondary {
  display: flex;
  justify-content: center;
  padding-right: 80px;

  @include laptop-sm {
    padding-right: 0;
  }

  .media {
    &__block {
      background-color: var(--color-secondary-bg);
      flex-direction: row-reverse;
      padding-right: 0;
      @include mobile-s {
        flex-direction: column;
      }
    }
    &__img {
      left: 0;
      right: -180px;
      @include mobile {
        right: 0!important;
      }
    }
    &__txt-wrapper {
      @media (min-width: 768px) {
        margin-right: 14px;
      }
    }
  }
}