.media {
  @include tablet {
    display: flex;
    justify-content: center;
  }
  &__block {
    background-color: var(--color-white);
    border-radius: 22px;

    //max-width: 834px;
    width: 834px;

    //padding-right: 43px;
    display: flex;
    justify-content: end;

    @include tablet {
      //width: 80%;
      width: 84%;
    }
    @include mobile {
      //width: 100%;
      width: 90%;
      flex-direction: column;
    }
    @include mobile-s {
      //flex-direction: column;
      justify-content: start;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: var(--color-text);
    font-family: inherit;
    letter-spacing: normal;
    line-height: normal;
  }

  &__txt {
    font-size: 16px;
    line-height: 1.5;
  }

  &__txt-wrapper {
    padding: 64px 23px;
    margin-inline: 44px;
    max-width: 452px;

    @include tablet {
      padding-block: 40px;
    }

    @include mobile {
      //margin-inline: 20px!important;
      margin-inline: 20px;
    }
  }

  &__img-wrapper {
    flex: 1;
    position: relative;
    @include laptop-sm {
      display: flex;
      align-items: center;
    }
    @include tablet {
      flex-basis: 30%;
      flex-shrink: 0;
    }
    @include mobile-s {
      padding-top: 22px;
    }
  }

  &__img {
    position: absolute;
    top: -16px;
    right: 0;
    left: -180px;
    min-width: 474px;

    @include laptop-sm {
      min-width: 120%;
      position: relative;
    }

    @include tablet {

    }

    @include mobile {
      //min-width: 100%!important;
      min-width: unset!important;
      width: 80%;
    }

    @include mobile-s {
      //width: 80%;
    }
  }
}

.media--main {
  padding-left: 120px;
  @include laptop-sm {
    padding-left: 0;
  }
  @include tablet {

  }

  .media {
    &__img {
      @include laptop-sm {
        margin-left: -40px;
        left: auto;
        right: auto;
        transform: scaleX(-1);
      }
      @include mobile {
        //margin-left: 20px!important;
        margin-inline: auto;
        transform: scaleX(1);
      }

      @include mobile-s {
        top: 0;
      }
    }

    &__txt-wrapper {
      @include tablet {
        //margin-left: 22px;
        margin-inline: 22px;
      }
      //@include mobile {
      //  margin-inline: 20px!important;
      //}
      @include mobile-s {
        margin-inline: 0;
      }
    }
  }
}
.media--secondary {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 80px;

  @include laptop-sm {
    padding-right: 0;
  }

  .media {
    &__block {
      background-color: var(--color-secondary-bg);
      flex-direction: row-reverse;
      padding-right: 0;
      @include mobile-s {
        flex-direction: column;
      }
    }
    &__img {
      left: 0;
      right: -180px;
      @include mobile {
        right: 0!important;
        margin-left: -20px;
      }
      @include mobile {
        //margin-left: 20px!important;
      }
      @include mobile-s {
        margin-left: 40px!important;
      }
    }
    &__txt-wrapper {
      margin-right: 14px;
    }
  }
}