.section {
  &__title {
    text-align: center;
    line-height: normal;

    &--white {
      color: var(--color-white);
    }
    &--warm {
      color: var(--color-warm);
    }
    &--cold {
      color: var(--color-cold);
    }
  }
}

.section--main {
  min-height: 861px;
  position: relative;
  background: url(../img/heart-main.svg) no-repeat right center;

  padding-top: 138px;
  padding-bottom: 100px;
  padding-inline: var(--cotainer-padding-x-base);

  @include tablet {
    padding-top: 10vh;
    background-size: contain;
  }
  @include mobile {
    padding-top: 72px;
  }
  @include mobile-s {
    background-position-y: 20%;
  }
}

.section--map {}

.section--guides {
  padding-top: 150px;
  padding-bottom: 340px;
}
.section--art {
  margin-top: -117px;
  padding-bottom: 62px;
}

.section--books {
  position: relative;
  margin-top: 62px;
  padding-top: 242px;
  padding-bottom: 490px;
  z-index: 0;

  &:before {
    content: '';
    display: block;
    background: url(../img/char.svg) no-repeat top left;
    background-size: contain;
    width: 100%;
    height: 384px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.section--volunteers {
  padding-bottom: 350px;
}

.section--streets {
  margin-top: -100px;
  padding-bottom: 189px;
  position: relative;
  z-index: 0;

  &:after {
    z-index: -1;
    content: '';
    display: block;
    background: url(../img/heart-cold.svg) no-repeat top left;
    background-size: contain;
    width: 100%;
    height: 712px;
    position: absolute;
    left: 0;
    top: 55%;
  }
}

.section--taste {
  position: relative;
  padding-top: 78px;
  padding-bottom: 218px;
  z-index: 1;
}