.taste {

  &__inner {
    margin-top: 32px;

    //display: flex;
    //justify-content: center;
    @include mobile-s {
      margin-top: 56px;
    }
  }
}

.taste-carousel .slick-arrow {
  height: 100%;
}