.volunteers {
  margin-top: 88px;
  min-height: 376px;
  @include tablet {
    margin-top: 62px;
  }

  &__inner {
    height: 100%;
  }

  .guides-carousel__slide-inner {
    @media (max-width: 412px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .guides-carousel__slide-img-wrap {
    border-radius: 100%;
    @media (max-width: 412px) {
      width: 64vw;
    }
  }

  .guides-carousel__slide-info {min-height:189px;}

  .slide-txt-container {
    .slide-txt:first-child {
      font-weight: 600;
    }
    p {
      margin-top: 5px;
      margin-bottom: 0;
      &:first-child {
        font-weight: 600;
      }
    }
  }
}