.volunteers {
  margin-top: 88px;
  min-height: 376px;
  @include tablet {
    margin-top: 62px;
  }

  &__inner {
    height: 100%;
  }

  .guides-carousel__slide-img-wrap {
    border-radius: 100%;
    height: 296px;
  }
  .guides-carousel__slide-img {
    height: inherit;
  }
}