#elka {
    --green-main: #00818E;
    --green-secondary: #11A4B3;
    --text-color: #262626;
    --text-color-secondary: #424242;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}
.body {
    margin: 0;
    padding: 0;
    position: relative;
}
.body:before,
.body:after {
    content: '';
    position: fixed;
    background-color: pink;
    display: block;
    height: 100vh;
    width: 100vw;
    transition: all .3s ease-in-out;

}
.body:before {
    top: 0;
    left: 0;
    background: url(/culture-of-charity/fairs-of-goodness/img/elka-bg-1.png) left top / contain no-repeat;
    background-position-x: -100px;
    z-index: -1;
}
.body:after {
    bottom: 0;
    right: 0;
    background: url(/culture-of-charity/fairs-of-goodness/img/elka-bg-2.png) right bottom / contain no-repeat;
    background-position-x: 126%;
    background-size: contain;
    z-index: -2;
}



/* снежинки 2025 */
.snowflake {
    position: fixed;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.container1 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.conditions {
    position: relative;
    text-align: center;
    padding: 20px 20px 40px;
    border-radius: 30px;
    overflow: hidden;
    color: var(--text-color);
    font-size: 1.2em; /* Увеличиваем шрифт */
    max-width: 871px;
    margin: 172px auto 140px;
}

.conditions::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: -1;
}

.conditions__title {
    color: var(--green-main);
    font-weight: 700;
    font-size: 54px;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px white;
}
.conditions__date {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
}
.conditions__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.conditions__text {
    max-width: 380px;
    margin-right: 16px;
    text-align: right;
}
.conditions__btn {
    flex-shrink: 0;
}

.e-btn {
    padding: 8px 24px;
    background-color: var(--green-main);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;

    min-height: 56px;
    display: inline-flex;
    align-items: center;
}
.e-btn:hover {
    background-color: var(--green-secondary);
}
.e-btn.disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: var(--text-color-secondary);
}
.e-btn--conditions {
    background-color: var(--green-secondary);
}
.e-btn--conditions:hover {
    background-color: var(--green-main);
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    color: var(--green-main);
}
.checkbox input {
    margin-right: 10px;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.timer {
    font-size: 18px;
    color: #333;
    margin-top: 15px;
}



.role {
    position: relative;
    max-width: 1110px;
    min-height: 440px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 60px 40px;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 130px;

    color: var(--text-color-secondary);
}
.role::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    background: rgba(207, 221, 222, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
}

.role__inner {
    display: flex;
    align-items: center;
}
.role__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 60px;
}
.role__block {
    flex: 1;
    padding-inline: 50px;
}
.role__block-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 30px;
}
.role__block-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
    max-width: 410px;
}


@media (min-width: 800px) {
    .conditions__title br {
        display: none;
    }
}
@media (max-width: 1400px) {
    .body:before {
        width: 55vh;
    }
    .body:after {
        background-position-x: 200%;
    }
}
@media (max-width: 1200px) {
    .role__block {
        padding-inline: 40px;
    }
}
@media (max-width: 1191px) {
    .body:before {

    }
    .body:after {
        background-size: cover;
        background-position-x: 20vw;
    }
}
@media (max-width: 1023px) {
    .body:before {
        width: 40vh;
    }
    .role__inner {
        flex-direction: column;
    }
    .role__block {
        padding-inline: 0;
    }
    .role__block:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .conditions {
        margin-block: 40px;
    }
    .conditions__date {
        font-size: 22px;
    }
    .conditions__info {
        flex-direction: column;
    }
    .conditions__text {
        margin-right: 0;
        margin-bottom: 16px;
        text-align: center;
    }
    .role {
        margin-bottom: 40px;
    }
}
@media (max-width: 480px) {
    .role__block-text br {
        display: none;
    }
    .e-btn {
        font-size: 16px;
        line-height: normal;
    }
}


.e-checkbox {
    margin-bottom: 0;
    min-height: 20px;
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
}
.e-checkbox__content {
     margin-left: 12px;
     color: var(--green-main);
    text-align: left;
 }
.e-checkbox__toggle {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
}
.e-checkbox__toggle::before {
     content: '';
     position: absolute;
     left: 0;
     width: 20px;
     height: 20px;
     border-radius: 4px;
     background: rgba(235, 235, 235, 1);
     border: 1px solid rgba(0, 0, 0, 0.3);
     transition: .2s;
     top: 50%;
     transform: translateY(-50%);
 }
.e-checkbox__toggle::after {
     content: '';
     position: absolute;
     left: 0;
     width: 20px;
     height: 20px;
     transition: .2s;
     top: 50%;
     transform: translateY(-50%);
     opacity: 0;

     background-image: url(/culture-of-charity/fairs-of-goodness/img/check-white.svg);
     background-repeat: no-repeat;
     background-position: center center;
 }

.e-checkbox input {display: none;}
.e-checkbox input:checked + .e-checkbox__toggle::before {
    background-color: var(--green-secondary);
    border: 1px solid var(--green-secondary);
}
.e-checkbox input:checked + .e-checkbox__toggle::after {
    opacity: 1;
}

.e-checkbox--top {
    align-items: flex-start;
}
.e-checkbox--top .e-checkbox__toggle::before,
.e-checkbox--top .e-checkbox__toggle::after {
    top: 1px;
    transform: none;
}
